.App {
  background-color: rgb(244, 244, 244);
  height: 10000px;
}

.App-logo {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #1a76d2;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#npi-form {
  display: flex;
  flex-direction: row;
}

#npi-form .form-text-field {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 3rem;
}

/* slide to top animation for table cells */
.slide-top {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
